<div class="container">
    <hr>
    <h3 class="text-center">Modulos</h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/images/users.png" alt="the image alt text here" />

                <div class="card-body text-center">
                    <h5 class="card-title">Usuarios</h5>

                    <p class="card-text text-left">
                        Creación, Actualización y Retiro de Usuarios.
                    </p>

                    <a href="#" class="btn btn-primary bg-dark">Más Información</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/images/Products.png" alt="the image alt text here" />

                <div class="card-body text-center">
                    <h5 class="card-title">Productos</h5>

                    <p class="card-text text-left">
                        Creacion, Modificación Y Retiro de Productos.
                    </p>

                    <a href="#" class="btn btn-primary bg-dark">Más Información</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/images/orders.png" alt="the image alt text here" />

                <div class="card-body text-center">
                    <h5 class="card-title text-center">Ordenes</h5>

                    <p class="card-text text-left">
                        Colocar, Modificar o Eliminar una Orden.
                    </p>

                    <a href="#" class="btn btn-primary bg-dark">Más Información</a>
                </div>
            </div>
        </div>
    </div>
</div>