<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-sacle=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
  </head>
  <body>
    <app-nv-menu></app-nv-menu>
    <main class="flex-shrink-0">
      <div class="container section">
        <div class="card text-center" style="width: 30rem">
          <div class="card-header"><font face="impact" size=4 color="grey">Registro de usuario</font></div>
          <div class="card-body">
          <app-form></app-form>
        </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </body>
</html>