<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
      <img src="../../../assets/images/logo.png" alt="" height="120px" >
      <a class="navbar-brand" href="#">
        <font face="impact" size=6 color="grey">Pizzeria NIZ</font>
      </a><br>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Carta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.google.com/maps/place/Cajic%C3%A1,+Cundinamarca/@4.9208138,-74.0422063,14z/data=!4m5!3m4!1s0x8e40776312d8c353:0x308b2cd7eafd3454!8m2!3d4.9187217!4d-74.022557?hl=es">Ubicación</a>
          </li>
        </ul>
    </div>
    </div>
  </nav>