<div class="container">
    <div class="abs-center">
        <div class="card col-5">
            <div class="card-header text-center"><strong>Pedidos</strong></div>
            <div class="card-body text-center">
                <a routerLink="/parameters/create-category" class="btn btn-success">Nuevo Pedido</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/parameters/edit-category/" class="btn btn-warning">Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a routerLink="/parameters/remove-category/" class="btn btn-danger">Eliminar</a>

                <table class="table table-striped float-left table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row">1</td>
                            <td>Pizzas</td>
                            <td>Tamaños / Sabores</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>Pasta</td>
                            <td>Tipos</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>Lasaña</td>
                            <td>Carne / Pollo / Chamiñones</td>
                        </tr>
                        <tr>
                            <td scope="row">4</td>
                            <td>Bebidas</td>
                            <td>Gaseosas / Vinos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />